
.hiddenCheckbox {
    display: none;
}

.customCheckbox {
    width: 18px;
    height: 18px;
    display: inline-block;
    position: relative;
    border: 1px solid #475569;
    margin: 5px;
    border-radius: 4px;
    background: #fff;
    cursor: pointer;
}

.hiddenCheckbox:checked + .customCheckbox {
    background: #028035;
}

.customCheckbox:after {
    content: '✔';
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 14px;
    opacity: 0;
}

.hiddenCheckbox:checked + .customCheckbox:after {
    opacity: 1;
}
